@media (max-width: 900px) {
    .header{
        margin: 0 0 5px 0;
    }
    .main{
        width: 90%;
        min-height: calc(85vh - 60px);
    }
    .game-stats{
        margin: 10px 0;
    }
}
@media (max-width: 520px) {
    .game-stats{
        font-size: 16px;
    }
    .lifes-container{
        .life{
            height: 10px;
            width: 10px;
        }
    }
    .header{
        font-size: 14px;
    }
    .start-info{
        font-size: 14px;
    }
    .btn{
        padding: 7px;
        font-size: 16px;
    }
    .endgame{
        font-size: 18px;
    }
    .lvl{
        font-size: 14px;
    }
    .button_restart{
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .game-stats{
        margin: 5px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        .points_info{
            text-align: center;
        }
        .time{
            text-align: center;
        }
    }
    .lifes-container{
        margin-left: 5px;
        .life{
            height: 10px;
            width: 10px;
        }
    }
    .header{
        font-size: 12px;
        min-height: 40px;
    }
    .start-info{
        font-size: 12px;
    }
    .btn{
        padding: 5px;
        font-size: 14px;
    }
    .endgame{
        font-size: 16px;
    }
    .lvl{
        font-size: 12px;
    }
    .button_restart{
        font-size: 14px;
    }
}
