
$color-m1: rgb(255,230,85);    //m = main
$color-m2: rgb(229,207,76);
$color-m3: rgb(191,173,63);
$color-m4: rgb(127,115,42);
$color-m5: rgb(64,58,21);

body{
    margin: 0;
    background-color: $color-m5;
}
.header{
    color: $color-m1;
    text-align: center;
}
.main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 350px;
}
.start-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $color-m2;
    &__paragraph{
        margin: 3px;
        padding: 0;
    }
}
.btn{
    background-color: $color-m2;
    box-sizing: border-box;
    border: 0;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
    margin: 5px;
    &:hover, &:focus{
        opacity: 0.8;
        outline: none;
    }
    &::-moz-focus-inner{
        border:0;
    }
}
.answers-container{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.answer_correct{
    background-color: #60BF17;
}
.answer_wrong{
    background-color: red;
}
.game-stats{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-m1;
    color: $color-m1;
    font-size: 20px;
    padding-bottom: 4px;
    .points_info{
        display: flex;
        justify-content: center;
    }
    .time, .points_current, .lifes-info{
        // border-bottom: 1px solid $color-m1;
    }
    .points_max{
        margin-left: 10px;
        opacity: 0.3;
    }
}
.endgame{
    font-size: 32px;
    text-align: center;
    &_win{
        color: $color-m2;
    }
    &_loose{
        color: red;
    }
}
.hidden{
    display: none;
}
.lvls-container{
    position: absolute;
    bottom: 20%

}
.lvl{
    color: $color-m2;
    opacity: 0.4;
    font-size: 14px;
    align-self: flex-end;
    display: inline-block;
    margin-right: 10px;
    &_finished{
        opacity: 1;
    }
}
.restart_container{
    position: absolute;
    bottom: 10%;
    text-align: center;
}
.button_restart{
    display: inline-block;
    opacity: 0.4;
    font-size: 16px;
}
.lifes-container{
    display: inline-block;
    margin-left: 10px;
    .life{
        display: inline-block;
        margin: 0 2px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: $color-m2;
        border: 1px solid $color-m2;
        &_used{
            background-color: transparent;
        }
    }
}
