
$color-m1: rgb(255,230,85);    //m = main
$color-m2: rgb(229,207,76);
$color-m3: rgb(191,173,63);
$color-m4: rgb(127,115,42);
$color-m5: rgb(64,58,21);    //d = different

body{
    margin: 0;
    background-color: $color-m5;
}
.header{
    color: $color-m1;
    text-align: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btn{
    background-color: $color-m2;
    box-sizing: border-box;
    border: 0;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
    margin: 5px;
    &:hover, &:focus{
        opacity: 0.8;
        outline: none;
    }
}
.questions{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.answer_correct{
    background-color: green;
}
.answer_wrong{
    background-color: red;
}
.game-stats{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $color-m1;
    font-size: 20px;
    .points_info{
        display: flex;
        justify-content: center;
    }
    .time, .points_current{
        border-bottom: 1px solid $color-m1;
    }
    .points_max{
        margin-left: 10px;
        opacity: 0.3;
    }
}
.endgame{
    font-size: 32px;
    text-align: center;
    &_win{
        color: $color-m2;
    }
    &_loose{
        color: red;
    }
}
.hidden{
    display: none;
}
