$color-m1: rgb(255,230,85);    //m = main
$color-m2: rgb(229,207,76);
$color-m3: rgb(191,173,63);
$color-m4: rgb(127,115,42);
$color-m5: rgb(64,58,21);

$font-m1: 'Roboto Slab', serif;

body{
    margin: 0;
    background-color: $color-m5;
    font-family: $font-m1;
}
.header{
    color: $color-m1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 5px 0 10px 0;
    min-height: 50px;
    letter-spacing: .05em;
    &__link{
        color: $color-m1;
        text-decoration: none;
        transition: 0.4s;
        &:hover, &:focus{
            background-color: $color-m4;
        }
    }
}
.heading{
    margin: 0;
    padding: 0;
}
.sub-heading{
    color: $color-m3;
    margin: 5px 0;
    padding: 0;
}
// .span_game-word{
//     color: $color-m1;
// }
.main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: calc(75vh - 60px);
    text-align: center;
}
.start-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: $color-m2;
    &__paragraph{
        margin: 3px;
        padding: 0;
    }
}
.btn{
    font-family: $font-m1;
    background-color: $color-m2;
    box-sizing: border-box;
    border: 0;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
    margin: 5px;
    &:hover, &:focus{
        opacity: 0.8;
        outline: none;
    }
    &::-moz-focus-inner{
        border:0;
    }
}
.answers-container{
    margin: 10px 0;
}
.answer_correct{
    background-color: #60BF17;
}
.answer_wrong{
    background-color: red;
}
.game-stats{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-m1;
    color: $color-m1;
    font-size: 20px;
    padding-bottom: 4px;
    .points_info{
        text-align: right;
        min-width: 100px;
    }
    .time{
        min-width: 100px;
        text-align: left;
    }
}
.endgame{
    font-size: 28px;
    text-align: center;
    &_win{
        color: $color-m2;
    }
    &_loose{
        color: red;
    }
}
.hidden{
    display: none;
}
.lvl{
    color: $color-m2;
    opacity: 0.4;
    font-size: 14px;
    align-self: flex-end;
    display: inline-block;
    margin: 0 5px;
    &_finished{
        opacity: 1;
    }
}
.button_restart{
    display: inline-block;
    opacity: 0.4;
    font-size: 16px;
}
.lifes-container{
    display: inline-block;
    margin-left: 5px;
    .life{
        display: inline-block;
        margin: 0 2px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: $color-m2;
        border: 1px solid $color-m2;
        &_used{
            background-color: transparent;
        }
    }
}
@import 'responsive';
